
<html>
<head>
  <title>TUNG DEP TRAI  </title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Virtuoso Documentation</title>
  <meta name="description" content="Installation Documentation for your Bootstrap Template" />
  <meta name="keywords" content="boostra, template, documentaion" />
  <meta name="robots" content="noindex, nofollow">

  <!-- Responsive Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- Stylesheets -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css"/>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body data-spy="scroll" data-target="#sidebar-menu">
  <header class="nav-scope navbar navbar-default navbar-static-top hidden-lg hidden-md" role="banner">
    <div class="container">
      <div class="row">
          <div class="navbar-header">
              <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              </button>
          </div>
      </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="row">
                <!-- Logo -->
                <div class="logo-scope">
                    <p>TEST</p>
                </div>
                </div><!-- close row for logo -->
                <!-- Slogan -->
                <div class="slogan-scope">
                    <p>Professional Death</p>
                </div>
                <!-- Buttons -->
                <div class="button-container-scope">
                    <a href="http://demonthemes/demo/0002/" class="btn btn-primary btn-xs" target="_blank">Template Demo <span class="glyphicon glyphicon-picture"></span></a>
                    <a href="https://wrapbootstrap.com/" class="btn btn-success btn-xs" target="_blank">WrapBootstrap <span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
            </div>
            <!-- Product Image -->
            <div class="col-sm-6 hidden-xs">
                <img src="assets/images/visco-guide-showcase.png">
            </div>
        </div>
  </header>
  <div class="jumbotron jumbotron-scope hidden-sm hidden-xs">
      <div class="container">
          <div class="row">
              <div class="col-md-7">
                  <h1>Tung</h1>
                  <p>SSSSSSSSSSSSSS</p>
                  <a href="http://facebook.com/mr.whoz" class="btn btn-primary btn-lg margin-top-20" target="_blank">Facebook<span class="glyphicon glyphicon-picture"></span></a>
                  <a href="#openModal" class="btn btn-success btn-lg margin-top-20" >WrapBootstrap <span class="glyphicon glyphicon-chevron-right"></span></a>
              </div>
              <div class="col-md-5">
                  <div class="pull-right">
                      <img src="/img/doge.png" width="200" height="200">
                  </div>
              </div>
              <a href="#openModal">Open Modal</a>
              <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

              <div class="modal fade" id="myModal" role="dialog">
                 <div class="modal-dialog">

                   <!-- Modal content-->
                   <div class="modal-content">
                     <div class="modal-header">
                       <button type="button" class="close" data-dismiss="modal">&times;</button>
                       <h4 class="modal-title">Modal Header</h4>
                     </div>
                     <div class="modal-body">
                       <p>Some text in the modal.</p>
                     </div>
                     <div class="modal-footer">
                       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                     </div>
                   </div>

                 </div>
               </div>
          </div>
      </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
          <div class="well hidden-sm hidden-xs" id="sidebar-menu" data-spy="affix" data-offset-top="330">
              <ul class="nav nav-pills nav-stacked">
                  <li><a href="http://google.com">Post 1</a></li>
                  <li><a href="#2">Post 2</a></li>
                  <li><a href="#3">Post 3</a></li>
                  <li><a href="#4">Post 4</a></li>
                  <li><a href="#5">Post 5</a></li>
                  <li><a href="#6">Post 6</a></li>
              </ul>
          </div>
      </div>
      <div class="col-md-9">
        <div class="well well-scope" id="overview">
            <h3 class="margin-bottom-20">Overview</h3>
            <p>In Virtuoso you will find a premium template solution for your site, giving you the framework to build an artistic yet functional style to any project.</p>
            <p class="margin-bottom-20">This Bootstrap templates comes with a host of easy to use features all written in developer friendly code. We have ensured to clearly comment all code, making it as easy as possible for you to implement your project in to the template.</p>
            <ul>
                <li>Responsive Layout</li>
                <li>Isotope Filterable Portfolio</li>
                <li>17 Page Templates</li>
                <li>Animate On Scroll</li>
                <li>Unique Bootstrap Component Styling</li>
                <li>Detailed HTML Commenting</li>
                <li>LESS CSS Files</li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
